In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('scaler_clustering.csv')
df

,Unnamed: 0,company_hash,email_hash,orgyear,ctc,job_position,ctc_updated_year
0,0,atrgxnnt xzaxv,6de0a4417d18ab14334c3f43397fc13b30c35149d70c05...,2016.0,1100000,Other,2020.0
1,1,qtrxvzwt xzegwgbb rxbxnta,b0aaf1ac138b53cb6e039ba2c3d6604a250d02d5145c10...,2018.0,449999,FullStack Engineer,2019.0
2,2,ojzwnvwnxw vx,4860c670bcd48fb96c02a4b0ae3608ae6fdd98176112e9...,2015.0,2000000,Backend Engineer,2020.0
3,3,ngpgutaxv,effdede7a2e7c2af664c8a31d9346385016128d66bbc58...,2017.0,700000,Backend Engineer,2019.0
4,4,qxen sqghu,6ff54e709262f55cb999a1c1db8436cb2055d8f79ab520...,2017.0,1400000,FullStack Engineer,2019.0
...,...,...,...,...,...,...,...
205838,206918,vuurt xzw,70027b728c8ee901fe979533ed94ffda97be08fc23f33b...,2008.0,220000,NaN,2019.0
205839,206919,husqvawgb,7f7292ffad724ebbe9ca860f515245368d714c84705b42...,2017.0,500000,NaN,2020.0
205840,206920,vwwgrxnt,cb25cc7304e9a24facda7f5567c7922ffc48e3d5d6018c...,2021.0,700000,NaN,2021.0
205841,206921,zgn vuurxwvmrt,fb46a1a2752f5f652ce634f6178d0578ef6995ee59f6c8...,2019.0,5100000,NaN,2019.0
205842,206922,bgqsvz onvzrtj,0bcfc1d05f2e8dc4147743a1313aa70a119b41b30d4a1f...,2014.0,1240000,NaN,2016.0

In [13]:
df.duplicated().sum()

0

In [14]:
df.isna().sum()

Unnamed: 0              0
company_hash           44
email_hash              0
orgyear                86
ctc                     0
job_position        52564
ctc_updated_year        0
dtype: int64

In [17]:
df[df['company_hash'].isna()]

,Unnamed: 0,company_hash,email_hash,orgyear,ctc,job_position,ctc_updated_year
1115,1115,NaN,8fe09b732fe2e5b66c14904fd02ff89fb54f458465ac1e...,2022.0,66600000,NaN,2020.0
2400,2400,NaN,1074b55f02e6fc88596db85854e057c98cb53c038e0d7f...,2018.0,250000,Other,2019.0
3277,3277,NaN,66263f4942b046c67ae6e2570e7825c03792631a0b13f1...,2018.0,500000,Other,2019.0
4205,4205,NaN,6eb55d779699a2ea94f340ab7a58c8ec505e38bbb41214...,2018.0,600000,NaN,2020.0
4596,4597,NaN,18813fe2a50a45cc02c5b3871c676bd147c80ff0327ee9...,2020.0,300000,NaN,2021.0
11753,11761,NaN,ea4f735b9357e8086a42bacc1f64b18e98c3dd1ad81f60...,2018.0,300000,NaN,2021.0
14739,14748,NaN,b4a56d1199bc569aabd30cba8ea7a86fbddc85211453ba...,2013.0,1600000,NaN,2021.0
18853,18865,NaN,07a60d6e853852471b0963b78a0a3074532572a2580864...,2017.0,700000,FullStack Engineer,2021.0
19466,19478,NaN,07a60d6e853852471b0963b78a0a3074532572a2580864...,2017.0,700000,NaN,2021.0
22846,22864,NaN,bdce6736cc1d55a909a46aed9e0bfdcd7cd523bfcf9b63...,2010.0,2000000,NaN,2020.0
31489,31521,NaN,8e70184e76f9a29078e8ddd928d24582e096f5b1a63197...,2018.0,229999,NaN,2021.0
40272,40319,NaN,4baf80fe2b9513f2f1d17d90f26071bd21f4a89d865fa1...,2012.0,2000000,NaN,2021.0
45630,45684,NaN,b17c74b195c1fa8038bf82c674716ae81b41b995a3b434...,2020.0,600000,NaN,2020.0
48583,48638,NaN,d9d7be8e4e4e5b6eb1092772d366c6bb21c8502e0e8253...,2011.0,910000,Data Scientist,2019.0
62974,63058,NaN,8420dc8fe52b5acaf629914b3917fbc37111924b965404...,2018.0,300000,NaN,2018.0
68706,68803,NaN,8fe09b732fe2e5b66c14904fd02ff89fb54f458465ac1e...,2022.0,66600000,Database Administrator,2020.0
71138,71237,NaN,8ce727669517d613c973b752e211e50f0bad3cab50d7cb...,2019.0,200000,NaN,2020.0
76614,76723,NaN,c83f98e2b2fb365515f48002f40db363a9de3319069f38...,2014.0,1000000,NaN,2021.0
79347,79461,NaN,1a5f329f97cdac513d7e33b5f8705e46053595ef6254c9...,2015.0,2200000,NaN,2021.0
80516,80639,NaN,cd6bc6ddf180c00306ad009a187cc5eb2a4b62af4ad584...,2017.0,300000,NaN,2021.0
82680,82815,NaN,5ef6071f5c390f317dfa60f7aadb9ee7a1abc92aaa02fc...,2014.0,600000,NaN,2019.0
85037,85181,NaN,a80b0711a63a65c0b70c3ed3f825043a8fc2b6871c3b0e...,2019.0,1200000,FullStack Engineer,2018.0
93712,93891,NaN,50f183667fd8a115dda5aa345988b314e1d98a3d937ea0...,2019.0,500000,Database Administrator,2019.0
103107,103338,NaN,98177023d0d95876047a39ed525d4c7eb44af739502aca...,2011.0,1200000,NaN,2021.0
103299,103530,NaN,87f640fc89281c082d94d1ee7fd6ee7391a8e30ad6182b...,2013.0,400000,NaN,2021.0
108479,108738,NaN,50f183667fd8a115dda5aa345988b314e1d98a3d937ea0...,2019.0,500000,NaN,2019.0
117021,117331,NaN,1606fcb8a2b3e4b242df4ee71190194fc556cf0d548616...,2016.0,700000,NaN,2016.0
117915,118227,NaN,f4bb477609fc559301e37c73a5b17428afe18c53c0fa27...,2015.0,600000,NaN,2021.0
125509,125889,NaN,9f9ba6d4e58f4f175f348d6d188be8ee8d5aa3537a0187...,2017.0,400000,NaN,2021.0
130031,130449,NaN,d7f39bfaa3be4957fa36a97fabb5ab7a39f6d55f377f33...,2015.0,800000,Backend Engineer,2019.0
141214,141719,NaN,cd281f18ef3d9042fab48860b4a7f80ec1d559c3fc2f85...,2006.0,1000000,NaN,2019.0
141355,141860,NaN,a51106f9193e46db561f27b02db413396e651be5394ca5...,2015.0,110000,NaN,2016.0
142613,143135,NaN,ce803383ed3dda0838959afb466eb1cffff964c94cb1ea...,2018.0,2000000,Data Analyst,2018.0
142955,143477,NaN,f47fbe35140825c07caf830b18058e737a3c6f18c50f50...,2019.0,2700000,FullStack Engineer,2019.0
146191,146743,NaN,f47fbe35140825c07caf830b18058e737a3c6f18c50f50...,2019.0,2700000,NaN,2019.0
156511,157132,NaN,c9af26980cf32f393089c1b33d3e138450e506b2d044a3...,2021.0,900000,NaN,2020.0
162073,162746,NaN,d000a77f0045504e2ee51a667ac0ad2671795b3f70ce33...,2020.0,800000,NaN,2019.0
171527,172311,NaN,824c00340acc623b57c75ca41535bf9d52fdee81d006bf...,2012.0,2100000,Other,2021.0
175270,176096,NaN,aae19078f349d6403856abf2c28ee731a32c0dbeb8de76...,2018.0,956000,NaN,2017.0
176727,177565,NaN,a75da322109f201148da6b4a1ab785518e6229c1379a09...,2017.0,1200000,NaN,2018.0
178114,178957,NaN,3fd7b50dc84e8b2493f097c6fc33c8abed19107ed0b1d3...,2007.0,132000,NaN,2017.0
178330,179173,NaN,0e781c3797c031c6aad2fa3d97c82773624a5da9a35de9...,2018.0,1800000,NaN,2016.0
194796,195788,NaN,c1ef4ed5eeb40dcacbb5f7d0fc345fb77c6176024eb239...,2019.0,2000000,Data Scientist,2019.0
202282,203348,NaN,c9af26980cf32f393089c1b33d3e138450e506b2d044a3...,2021.0,900000,Other,2020.0